<section class="form typed">
    <h2 class="center">Equipment</h2>
    <div class="flexrow">
        <h3 class="center">Dominant Hand</h3>
        <h3 class="center">Off Hand</h3>
    </div>
    <div class="flexrow">
        <div>
            <h2 class="center">Wounds:</h2>
            <table>
                <tr>
                    <th></th>
                    <th>Wounds</th>
                    <th>Armour</th>
                </tr>
                <tr>
                    <th>{{localize "dc.player.core.wounds.noggin"}}</th>
                    <td class="center"><input type="number" name="data.wounds.noggin" value="{{data.data.wounds.noggin}}"/></td>
                    <td class="center"><input type="number" name="data.armour.noggin" value="{{data.data.armour.noggin}}"/></td>
                </tr>
                <tr>
                    <th>{{localize "dc.player.core.wounds.guts"}}</th>
                    <td class="center"><input type="number" name="data.wounds.guts" value="{{data.data.wounds.guts}}"/></td>
                    <td class="center"><input type="number" name="data.armour.guts" value="{{data.data.armour.guts}}"/></td>
                </tr>
                <tr>
                    <th>{{localize "dc.player.core.wounds.arm_left"}}</th>
                    <td class="center"><input type="number" name="data.wounds.arm_left" value="{{data.data.wounds.arm_left}}"/></td>
                    <td class="center"><input type="number" name="data.armour.arm_left" value="{{data.data.armour.arm_left}}"/></td>
                </tr>
                <tr>
                    <th>{{localize "dc.player.core.wounds.arm_right"}}</th>
                    <td class="center"><input type="number" name="data.wounds.arm_right" value="{{data.data.wounds.arm_right}}"/></td>
                    <td class="center"><input type="number" name="data.armour.arm_right" value="{{data.data.armour.arm_right}}"/></td>
                </tr>
                <tr>
                    <th>{{localize "dc.player.core.wounds.gizzards"}}</th>
                    <td class="center"><input type="number" name="data.wounds.gizzards" value="{{data.data.wounds.gizzards}}"/></td>
                    <td class="center"><input type="number" name="data.armour.gizzards" value="{{data.data.armour.gizzards}}"/></td>
                </tr>
                <tr>
                    <th>{{localize "dc.player.core.wounds.lower_guts"}}</th>
                    <td class="center"><input type="number" name="data.wounds.lower_guts" value="{{data.data.wounds.lower_guts}}"/></td>
                    <td class="center"><input type="number" name="data.armour.lower_guts" value="{{data.data.armour.lower_guts}}"/></td>
                </tr>
                <tr>
                    <th>{{localize "dc.player.core.wounds.leg_left"}}</th>
                    <td class="center"><input type="number" name="data.wounds.leg_left" value="{{data.data.wounds.leg_left}}"/></td>
                    <td class="center"><input type="number" name="data.armour.leg_left" value="{{data.data.armour.leg_left}}"/></td>
                </tr>
                <tr>
                    <th>{{localize "dc.player.core.wounds.leg_right"}}</th>
                    <td class="center"><input type="number" name="data.wounds.leg_right" value="{{data.data.wounds.leg_right}}"/></td>
                    <td class="center"><input type="number" name="data.armour.leg_right" value="{{data.data.armour.leg_right}}"/></td>
                </tr>
            </table>
        </div>
        <div>
            {{#if equippable}}
            <h2 class="center">Melee Weapons</h2>
            <table>
            {{#each equippable as |item|}}
                <tr class="item" data-itemId="{{this.id}}">
                    <td class="perc10 center"><a class="info-button"><i class="fas fa-info-circle"></i></a></td>
                    <td class="perc60">{{this.name}}</td>
                    {{#if (eq data.data.equipped_dominant true)}}
                    <td><input type="checkbox" name="data.equipped_dominant" checked/></td>
                    {{else}}
                    <td><input type="checkbox" name="data.equipped_dominant"/></td>
                    {{/if}}
                    {{#if (eq data.data.equipped_off true)}}
                    <td><input type="checkbox" name="data.equipped_off" checked/></td>
                    {{else}}
                    <td><input type="checkbox" name="data.equipped_off"/></td>
                    {{/if}}
                </tr>
            {{/each}}
            </table>
            {{/if}}
        </div>
    </div>
</section>