<section class="form typed">
    <h2 class="center">Equipment</h2>
    <div class="flexrow">
        {{#each hand_slots as |hand|}}
            <div>
                <h3 class="center">{{hand.label}}</h3>
                <select class="item center {{hand.key}}-select" name="data.equipped.{{hand.key}}" id="{{hand.key}}-select" data-slot="{{hand.key}}">
                <option value="Nuthin">Nuthin'</option>
                {{#each equippable as |item|}}
                    {{!-- {{#if (eq item.slot 'hand')}} --}}
                        {{#if_equipped @../key item.id}}
                            <option data-itemid="{{item.id}}" value="{{item.id}}" selected>{{item.name}}</option>
                        {{else}}
                            <option value="{{item.id}}">{{item.name}}</option>
                        {{/if_equipped}}
                    {{!-- {{/if}} --}}
                {{/each}}
            </select>
            </div>
        {{/each}}
        {{!-- <div>
            <h3 class="center">Dominant Hand</h3>
            {{> "systems/deadlands_classic/templates/partials/reuseable/equip.hbs" items=equippable label="dominant" slot="hand"}}
        </div>
        <div>
            <h3 class="center">Off Hand</h3>
            {{> "systems/deadlands_classic/templates/partials/reuseable/equip.hbs" items=equippable label="off" slot="hand"}}
        </div> --}}
    </div>
    <div class="flexrow">
        <div>
            <h2 class="center">Wounds:</h2>
            <table>
                <tr>
                    <th></th>
                    <th>Wounds</th>
                    <th>Armour</th>
                </tr>
                <tr>
                    <th>{{localize "dc.player.core.wounds.noggin"}}</th>
                    <td class="center"><input type="number" name="data.wounds.noggin" value="{{data.data.wounds.noggin}}"/></td>
                    <td class="center"><input type="number" name="data.armour.noggin" value="{{data.data.armour.noggin}}"/></td>
                </tr>
                <tr>
                    <th>{{localize "dc.player.core.wounds.guts"}}</th>
                    <td class="center"><input type="number" name="data.wounds.guts" value="{{data.data.wounds.guts}}"/></td>
                    <td class="center"><input type="number" name="data.armour.guts" value="{{data.data.armour.guts}}"/></td>
                </tr>
                <tr>
                    <th>{{localize "dc.player.core.wounds.arm_left"}}</th>
                    <td class="center"><input type="number" name="data.wounds.arm_left" value="{{data.data.wounds.arm_left}}"/></td>
                    <td class="center"><input type="number" name="data.armour.arm_left" value="{{data.data.armour.arm_left}}"/></td>
                </tr>
                <tr>
                    <th>{{localize "dc.player.core.wounds.arm_right"}}</th>
                    <td class="center"><input type="number" name="data.wounds.arm_right" value="{{data.data.wounds.arm_right}}"/></td>
                    <td class="center"><input type="number" name="data.armour.arm_right" value="{{data.data.armour.arm_right}}"/></td>
                </tr>
                <tr>
                    <th>{{localize "dc.player.core.wounds.gizzards"}}</th>
                    <td class="center"><input type="number" name="data.wounds.gizzards" value="{{data.data.wounds.gizzards}}"/></td>
                    <td class="center"><input type="number" name="data.armour.gizzards" value="{{data.data.armour.gizzards}}"/></td>
                </tr>
                <tr>
                    <th>{{localize "dc.player.core.wounds.lower_guts"}}</th>
                    <td class="center"><input type="number" name="data.wounds.lower_guts" value="{{data.data.wounds.lower_guts}}"/></td>
                    <td class="center"><input type="number" name="data.armour.lower_guts" value="{{data.data.armour.lower_guts}}"/></td>
                </tr>
                <tr>
                    <th>{{localize "dc.player.core.wounds.leg_left"}}</th>
                    <td class="center"><input type="number" name="data.wounds.leg_left" value="{{data.data.wounds.leg_left}}"/></td>
                    <td class="center"><input type="number" name="data.armour.leg_left" value="{{data.data.armour.leg_left}}"/></td>
                </tr>
                <tr>
                    <th>{{localize "dc.player.core.wounds.leg_right"}}</th>
                    <td class="center"><input type="number" name="data.wounds.leg_right" value="{{data.data.wounds.leg_right}}"/></td>
                    <td class="center"><input type="number" name="data.armour.leg_right" value="{{data.data.armour.leg_right}}"/></td>
                </tr>
            </table>
        </div>
        <div>
            {{#if equippable}}
            <h2 class="center">Equippable Items</h2>
            <table>
            {{#each equippable as |item|}}
                <tr class="item" data-itemId="{{this.id}}">
                    <td class="perc10 center"><a class="info-button"><i class="fas fa-info-circle"></i></a></td>
                    <td class="perc80">{{this.name}}</td>
                    <td class="perc10 center"><a class="item-delete"><i class="fas fa-trash" title="Remove {{this.name}}"></i></a></td>
                </tr>
            {{/each}}
            </table>
            {{/if}}
        </div>
    </div>
</section>