<section>
    <style>
        .content {
        padding: 0 18px;
        background-color: rgba(255, 255, 255, 0);
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        }
    </style>
    <div class="core typed">
        <div class="flexbox">
            <table style="table-layout: fixed;">
                <tr>
                    <th class="perc12 center">{{localize "dc.player.core.wind"}}</th>
                    <td class="perc12 center"><input style="width: 45%;" type="number" name="data.wind.value" value="{{data.data.wind.value}}"/>/<input style="width: 45%;" type="number" name="data.wind.max" value="{{data.data.wind.max}}"/></td>
                </tr>
                <tr>
                    <th class="perc12 center">{{localize "dc.player.core.bounty"}}</th>
                    <td class="perc12 center"><input style="width: 45%" type="number" name="data.bounty.value" value="{{data.data.bounty.value}}"/>/<input style="width: 45%" type="number" name="data.bounty.max" value="{{data.data.bounty.max}}"/></td>
                </tr>
                <tr>
                    <th class="perc12 center">{{localize "dc.player.core.money"}}</th>
                    <td class="perc12 center"><input type="number" name="data.cash" value="{{data.data.cash}}"/></td>
                </tr>
                <tr>
                    <th class="perc12 center">{{localize "dc.player.core.pace"}}</th>
                    <td class="perc12 center"><input type="number" name="data.pace" value="{{data.data.pace}}"/></td>
                </tr>
                <tr>
                    <th class="perc12 center">{{localize "dc.player.core.size"}}</th>
                    <td class="perc12 center"><input type="number" name="data.size" value="{{data.data.size}}"/></td>
                </tr>
                <tr>
                    <th class="perc12 center">{{localize "dc.player.core.grit"}}</th>
                    <td class="perc12 center"><input type="number" name="data.grit" value="{{data.data.grit}}"/></td>
                </tr>
                {{!-- <tr>
                    <th class="perc12 center">{{localize "dc.player.core.off_hand"}}</th>
                    <th class="perc12 center">{{localize "dc.player.core.wound_modifier"}}</th>
                </tr>
                <tr>
                    <td class="perc12 center"><input type="number" name="data.off_hand_modifier" value="{{data.data.off_hand_modifier}}"/></td>
                    <td class="perc12 center"><input type="number" name="data.wound_modifier" value="{{data.data.wound_modifier}}"/></td>
                </tr> --}}
            </table>
        </div>
    </div>
</section>