<section>
    <div class="core">
        <h1 class="h1">Core:</h1>
        <table>
            <tr>
                <th>{{localize "dc.player.core.pace"}}</th>
                <th>{{localize "dc.player.core.size"}}</th>
                <th>{{localize "dc.player.core.wind"}}</th>
                <th>{{localize "dc.player.core.grit"}}</th>
            </tr>
            <tr>
                <td><input style="text-align: center;" type="text" name="data.pace" value="{{data.pace}}"/></td>
                <td><input style="text-align: center; " type="text" name="data.size" value="{{data.size}}"/></td>
                <td><input style="text-align: center; width: 45%" type="text" name="data.wind.value" value="{{data.wind.value}}"/>/<input style="text-align: center; width: 45%" type="text" name="data.wind.max" value="{{data.wind.max}}"/></td>
                <td><input style="text-align: center;" type="text" name="data.grit" value="{{data.grit}}"/></td>
            </tr>
            <tr>
                <th>{{localize "dc.player.core.money"}}</th>
                <th>{{localize "dc.player.core.bounty"}}</th>
                <th>{{localize "dc.player.core.off_hand"}}</th>
                <th>{{localize "dc.player.core.wound_modifier"}}</th>
            </tr>
            <tr>
                <td><input style="text-align: center;" type="text" name="data.cash" value="{{data.cash}}"/></td>
                <td><input style="text-align: center; width: 45%" type="text" name="data.bounty.value" value="{{data.bounty.value}}"/>/<input style="text-align: center; width: 45%" type="text" name="data.bounty.max" value="{{data.bounty.max}}"/></td>
                <td><input style="text-align: center;" type="text" name="data.off_hand_modifier" value="{{data.off_hand_modifier}}"/></td>
                <td><input style="text-align: center;" type="text" name="data.wound_modifier" value="{{data.wound_modifier}}"/></td>
            </tr>
        </table>
        <h1 class="h1">Wounds:</h1>
        <table>
            <tr>
                <th>{{localize "dc.player.core.wounds.noggin"}}</th>
                <th>{{localize "dc.player.core.wounds.guts"}}</th>
                <th>{{localize "dc.player.core.wounds.arm_left"}}</th>
                <th>{{localize "dc.player.core.wounds.arm_right"}}</th>
                <th>{{localize "dc.player.core.wounds.gizzards"}}</th>
                <th>{{localize "dc.player.core.wounds.leg_left"}}</th>
                <th>{{localize "dc.player.core.wounds.leg_right"}}</th>
            </tr>
            <tr>
                <td><input style="text-align: center;" type="text" name="data.wounds.noggin" value="{{data.wounds.noggin}}"/></td>
                <td><input style="text-align: center;" type="text" name="data.wounds.guts" value="{{data.wounds.guts}}"/></td>
                <td><input style="text-align: center;" type="text" name="data.wounds.arm_left" value="{{data.wounds.arm_left}}"/></td>
                <td><input style="text-align: center;" type="text" name="data.wounds.arm_right" value="{{data.wounds.arm_right}}"/></td>
                <td><input style="text-align: center;" type="text" name="data.wounds.gizzards" value="{{data.wounds.gizzards}}"/></td>
                <td><input style="text-align: center;" type="text" name="data.wounds.leg_left" value="{{data.wounds.leg_left}}"/></td>
                <td><input style="text-align: center;" type="text" name="data.wounds.leg_right" value="{{data.wounds.leg_right}}"/></td>
            </tr>
        </table>
    </div>
</section>