<section class="form typed">
    <h2 class="center">Trappin's</h2>
    <div>
        {{#if huckster_deck}}
        <h2 class="center collapsible">Hex Hand</h2>
        <div class="content">
            <table>
            {{#each huckster_deck as |card|}}
                <tr class="item" data-itemId="{{this.id}}">
                    <td class="perc90">{{this.name}}</td>
                    <td class="perc10 center"><a class="item-delete"><i class="fas fa-trash" title="Show this card"></i></a></td>
                </tr>
            </div>
            {{/each}}
            </table>
        </div>
        {{/if}}
        {{#if tricks}}
        <h2 class="center collapsible">Tricks</h2>
        <div class="content">
            <table>
            {{#each tricks as |hex|}}
            <tr class="item" data-itemId="{{this.id}}">
                <td class="perc10"><a class="info-button"><i class="fas fa-info-circle"></i></a></td>
                <td class="perc40">{{this.name}}</td>
                {{#has_bounty this.data.data.level 'skill'}}
                <td class="perc10 right"><a class="magic-buff">[+]</a></td>
                {{/has_bounty}}
                <td class="perc10">[{{this.data.data.level}}]</td>
                <td class="perc20 center">{{this.data.data.trait}}</td>
                <td class="perc10 center"><a class="sling-trick"><i class="fas fa-bahai" title="Cast {{this.name}}"></i></a></td>
                <td class="perc10 center"><a class="item-delete"><i class="fas fa-trash" title="Remove {{this.name}}"></i></a></td>
            </tr>
            {{/each}}
            </table>
        </div>
        {{/if}}
        {{#if hexes}}
        <h2 class="center collapsible">Hexes</h2>
        <div class="content">
            <table>
            {{#each hexes as |hex|}}
            <tr class="item" data-itemId="{{this.id}}">
                <td class="perc10"><a class="info-button"><i class="fas fa-info-circle"></i></a></td>
                <td class="perc40">{{this.name}}</td>
                {{#has_bounty this.data.data.level 'skill'}}
                <td class="perc10 right"><a class="magic-buff">[+]</a></td>
                {{/has_bounty}}
                <td class="perc10">[{{this.data.data.level}}]</td>
                <td class="perc20 center">{{this.data.data.trait}}</td>
                <td class="perc10 center"><a class="sling-hex"><i class="fas fa-bahai" title="Cast {{this.name}}"></i></a></td>
                <td class="perc10 center"><a class="item-delete"><i class="fas fa-trash" title="Remove {{this.name}}"></i></a></td>
            </tr>
            {{/each}}
            </table>
        </div>
        {{/if}}
        {{#if miracles}}
        <h2 class="center collapsible">Miracles</h2>
        <div class="content">
            <table>
            {{#each miracles as |mir|}}
            <tr class="item" data-itemId="{{this.id}}">
                <td class="perc10 center"><a class="info-button"><i class="fas fa-info-circle"></i></a></td>
                <td class="perc60">{{this.name}}</td>
                <td class="perc10 center">{{this.data.data.tn}}</td>
                <td class="perc10 center"><a class="cast-miracle"><i class="fas fa-pray" title="Cast {{this.name}}"></i></a></td>
                <td class="perc10 center"><a class="item-delete"><i class="fas fa-trash" title="Remove {{this.name}}"></i></a></td>
            </tr>
            {{/each}}
            </table>
        </div>
        {{/if}}
        {{#if favors}}
        <h2 class="center collapsible">Favors</h2>
        <div class="content">
            <table>
            {{#each favors as |fav|}}
            <tr class="item" data-itemId="{{this.id}}">
                <td class="perc10 center"><a class="info-button"><i class="fas fa-info-circle"></i></a></td>
                <td class="perc60">{{this.name}}</td>
                <td class="perc10 center">{{this.data.data.appeasement}}</td>
                <td class="perc10 center"><a><i class="fas fa-crow" title="Cast {{this.name}}"></i></a></td>
                <td class="perc10 center"><a class="item-delete"><i class="fas fa-trash" title="Remove {{this.name}}"></i></a></td>
            </tr>
            {{/each}}
            </table>
        </div>
        {{/if}}
        {{#if goods}}
        <h2 class="center collapsible">Goods</h2>
        <div class="content">
            <table>
            {{#each goods as |good|}}
            <tr class="item" data-itemId="{{this.id}}">
                <td class="perc10 center"><a class="info-button"><i class="fas fa-info-circle"></i></a></td>
                <td class="perc20 right">{{this.data.data.amount}}</td>
                <td class="perc50">{{this.name}}</td>
                <td class="perc10 right">{{this.data.data.cost}}</td>
                <td class="perc10 center"><a class="item-delete"><i class="fas fa-trash" title="Remove {{this.name}}"></i></a></td>
            </tr>
            {{/each}}
            </table>
        </div>
        {{/if}}
    </div>
</section>