<section class="form">
    <h1 style="text-align: center; width: 100%">
        <div data-edit="data.name" contenteditable>
            {{data.name}}
        </div>
    </h1>
    <img class="portrait" src="{{actor.img}}" data-edit="img"/>
    <a><p style="text-align: center;" class="refresh">Refresh</p></a>
    {{#if melee_weapons}}
    <div>
        <h1 style="text-align: center;">Melee Weapons</h1>
        {{#each melee_weapons as |wep|}}
        <div style="display: flex; flex-direction: row;" class="item" data-itemId="{{this._id}}">
            <a class="info-button icon-btn"><i class="fas fa-info-circle"></i></a>
            <input style="display: inline-block; width: 400%;" type="text" value="{{this.name}}"/>
            <input style="text-align: center;" type="text" value="{{wep.data.damage}}">
            <a class="attack icon-btn"><i class="fas fa-user-slash" title="Attack with {{this.name}}"></i></a>
            <a class="item-delete icon-btn"><i class="fas fa-trash" title="Discard {{this.name}}"></i></a>
        </div>
        {{/each}}
    </div>
    {{/if}}
    {{#if firearms}}
    <div>
        <h1 style="text-align: center;">Guns</h1>
        {{#each firearms as |gun|}}
        <div style="display: flex; flex-direction: row;" class="item" data-itemId="{{this._id}}">
            <a class="info-button icon-btn"><i class="fas fa-info-circle"></i></a>
            <input style="display: inline-block; width: 400%;" type="text" value="{{this.name}}"/>
            <input style="text-align: center;" type="text" value="{{this.data.chamber}}/{{this.data.max}}">
            <a class="attack icon-btn"><i class="fas fa-crosshairs" title="Fire {{this.name}}"></i></a>
            <a class="gun-reload icon-btn"><i class="fas fa-sync-alt" title="Reload {{this.name}}"></i></a>
            <a class="item-delete icon-btn"><i class="fas fa-trash" title="Discard {{this.name}}"></i></a>
        </div>
        {{/each}}
    </div>
    {{/if}}
    {{#if huckster_deck}}
        <div>
        <h1 style="text-align: center;">Hex Hand</h1>
        {{#each huckster_deck as |card|}}
        <div style="display: flex; flex-direction: row;" class="item" data-itemId="{{this._id}}">
            <input style="display: inline-block; width: 400%;" type="text" value="{{this.name}}"/>
            <a class="item-delete icon-btn"><i class="fas fa-trash" title="Show this card"></i></a>
        </div>
        {{/each}}
    </div>
    {{/if}}
    {{#if tricks}}
    <div>
        <h1 style="text-align: center;">Tricks</h1>
        {{#each tricks as |hex|}}
        <div style="display: flex; flex-direction: row;" class="item" data-itemId="{{this._id}}">
            <a class="info-button icon-btn"><i class="fas fa-info-circle"></i></a>
            <input style="display: inline-block; width: 400%;" type="text" value="{{this.name}}"/>
            <input style="text-align: center;" type="text" value="{{this.data.trait}}">
            <a class="sling-trick icon-btn"><i class="fas fa-bahai" title="Cast {{this.name}}"></i></a>
            <a class="item-delete icon-btn"><i class="fas fa-trash" title="Remove {{this.name}}"></i></a>
        </div>
        {{/each}}
    </div>
    {{/if}}
    {{#if hexes}}
    <div>
        <h1 style="text-align: center;">Hexes</h1>
        {{#each hexes as |hex|}}
        <div style="display: flex; flex-direction: row;" class="item" data-itemId="{{this._id}}">
            <a class="info-button icon-btn"><i class="fas fa-info-circle"></i></a>
            <input style="display: inline-block; width: 400%;" type="text" value="{{this.name}}"/>
            <input style="text-align: center;" type="text" value="{{this.data.trait}}">
            <a class="sling-hex icon-btn"><i class="fas fa-bahai" title="Cast {{this.name}}"></i></a>
            <a class="item-delete icon-btn"><i class="fas fa-trash" title="Remove {{this.name}}"></i></a>
        </div>
        {{/each}}
    </div>
    {{/if}}
    {{#if miracles}}
    <div>
        <h1 style="text-align: center;">Miracles</h1>
        {{#each miracles as |mir|}}
        <div style="display: flex; flex-direction: row;" class="item" data-itemId="{{this._id}}">
            <a class="info-button icon-btn"><i class="fas fa-info-circle"></i></a>
            <input style="display: inline-block; width: 400%;" type="text" value="{{this.name}}"/>
            <input style="text-align: center;" type="text" value="{{this.data.tn}}">
            <a class="cast-miracle icon-btn"><i class="fas fa-pray" title="Cast {{this.name}}"></i></a>
            <a class="item-delete icon-btn"><i class="fas fa-trash" title="Remove {{this.name}}"></i></a>
        </div>
        {{/each}}
    </div>
    {{/if}}
    {{#if favors}}
    <div>
        <h1 style="text-align: center;">Favors</h1>
        {{#each favors as |fav|}}
        <div style="display: flex; flex-direction: row;" class="item" data-itemId="{{this._id}}">
            <a class="info-button icon-btn"><i class="fas fa-info-circle"></i></a>
            <input style="display: inline-block; width: 400%;" type="text" value="{{this.name}}"/>
            <input style="text-align: center;" type="text" value="{{this.data.appeasement}}">
            <a class="icon-btn"><i class="fas fa-crow" title="Cast {{this.name}}"></i></a>
            <a class="item-delete icon-btn"><i class="fas fa-trash" title="Remove {{this.name}}"></i></a>
        </div>
        {{/each}}
    </div>
    {{/if}}
    {{#if edges}}
    <div>
        <h1 style="text-align: center;">Edges</h1>
        {{#each edges as |edge|}}
        <div style="display: flex; flex-direction: row;" class="item" data-itemId="{{this._id}}">
            <a class="info-button icon-btn"><i class="fas fa-info-circle"></i></a>
            <input style="display: inline-block; width: 400%;" type="text" value="{{this.name}}"/>
            <input style="text-align: center;" type="text" value="{{this.data.cost}}">
            <a class="item-delete icon-btn"><i class="fas fa-trash" title="Remove {{this.name}}"></i></a>
        </div>
        {{/each}}
    </div>
    {{/if}}
    {{#if hinderances}}
        <h1 style="text-align: center;">Hinderances</h1>
        {{#each hinderances as |hind|}}
        <div style="display: flex; flex-direction: row;" class="item" data-itemId="{{this._id}}">
            <a class="info-button icon-btn"><i class="fas fa-info-circle"></i></a>
            <input style="display: inline-block; width: 400%;" type="text" value="{{this.name}}"/>
            <input style="text-align: center;" type="text" value="{{this.data.cost}}">
            <a class="item-delete icon-btn"><i class="fas fa-trash" title="Remove {{this.name}}"></i></a>
        </div>
        {{/each}}
    {{/if}}
    {{#if goods}}
        <div>
        <h1 style="text-align: center;">Goods</h1>
        {{#each goods as |good|}}
        <div style="display: flex; flex-direction: row;" class="item" data-itemId="{{this._id}}">
            <a class="info-button icon-btn"><i class="fas fa-info-circle"></i></a>
            <input style="display: inline-block; width: 400%;" type="text" value="{{this.name}}"/>
            <input style="text-align: center;" type="text" value="{{this.data.cost}}">
            <input style="text-align: center;" type="text" value="{{this.data.amount}}">
            <a class="item-delete icon-btn"><i class="fas fa-trash" title="Remove {{this.name}}"></i></a>
        </div>
        {{/each}}
    </div>
    {{/if}}
</section>