<section class="form typed">
    <h2 class="center">Trappin's</h2>
    <div class="scroller item_scroller">
        <a class="center"><p class="refresh">Refresh</p></a>
        <h2 class="center collapsible">Fate Chips</h2>
        <div class="content">
            <a class="center"><p class="draw-fate">Draw Fate Chip</p></a>
            {{#if fate_chips}}
                <table>
                {{#each fate_chips as |chip|}}
                    <tr class="fate-data" data-chip="{{this.name}}" data-bounty="{{this.bounty}}">
                    <td class="perc50">{{this.name}}</td>
                    <td class="perc10 center">{{this.bounty}}</td>
                    <td class="perc10 center">{{this.amount}}</td>
                    <td class="perc10 center"><a class="spend-fate"><i class="fas fa-dollar-sign" title="Spend for Bounty"></a></i></td>
                    <td class="perc10 center"><a class="use-fate"><i class="fas fa-trash" title="Use in game"></i></a></td>
                </tr>
                {{/each}}
            </table>
            {{/if}}
        </div>
        <h2 class="center collapsible">Combat Hand</h2>
        <div class="content">
            <a class="center"><p class="roll-quickness">Roll Quickness!</p></a>
            {{#if action_deck}}
            <table>
                {{#if sleeved}}
                    <tr class="item" data-itemId="{{sleeved.id}}">
                    <td class="perc90">{{sleeved.name}} (Sleeved)</td>
                    <td class="perc10 center"><a class="aim-button"><i class="fas fa-bahai" title="Aim (Adds +2 to next shot, stacks to +6)"></i></a></td>
                </tr>
                {{/if}}
                {{#each action_deck as |card|}}
                    {{#if (not_same card.name sleeved)}}
                <tr class="item" data-itemId="{{this._id}}">
                    <td class="perc70">{{this.name}}</td>
                    <td class="perc10 center"><a class="aim-button"><i class="fas fa-crosshairs" title="Aim (Adds +2 to next shot, stacks to +6)"></i></a></td>
                        {{#lvl_head}}
                    <td class="perc10 center"><a class="recycle-card"><i class="fas fa-sync-alt" title="Cycle this card"></i></a></td>
                        {{/lvl_head}}
                    <td class="perc10 center"><a class="play-card"><i class="fas fa-hand-paper" title="Play this Card"></i></a></td>
                </tr>
                    {{/if}}
                {{/each}}
            </table>
            {{/if}}
        </div>
        {{#if melee_weapons}}
        <h2 class="center collapsible">Melee Weapons</h2>
        <div class="content">
            <table>
            {{#each melee_weapons as |wep|}}
                <tr class="item" data-itemId="{{this._id}}">
                    <td class="perc10 center"><a class="info-button"><i class="fas fa-info-circle"></i></a></td>
                    <td class="perc60">{{this.name}}</td>
                    <td class="perc10 center">{{wep.data.damage}}</td>
                    <td class="perc10 center"><a class="melee-attack"><i class="fas fa-user-slash" title="Attack with {{this.name}}"></i></a></td>
                    <td class="perc10 center"><a class="item-delete"><i class="fas fa-trash" title="Discard {{this.name}}"></i></a></td>
                </tr>
            {{/each}}
            </table>
        </div>
        {{/if}}
        {{#if firearms}}
        <h2 class="center collapsible">Guns</h2>
        <div class="content">
            <table>
            {{#each firearms as |gun|}}
                <tr class="item" data-itemId="{{this._id}}">
                    <td class="perc10 center"><a class="info-button"><i class="fas fa-info-circle"></i></a></td>
                    <td class="perc40">{{this.name}}</td>
                    <td class="perc10 center">{{this.data.chamber}}/{{this.data.max}}</td>
                    <td class="perc10 center"><a class="gun-attack"><i class="fas fa-crosshairs" title="Fire {{this.name}}"></i></a></td>
                    <td class="perc10 center"><a class="gun-reload"><i class="fas fa-sync-alt" title="Reload {{this.name}}"></i></a></td>
                    <td class="perc10 center"><a class="item-delete"><i class="fas fa-trash" title="Discard {{this.name}}"></i></a></td>
                </tr>
            {{/each}}
            </table>
        </div>
        {{/if}}
        {{#if huckster_deck}}
        <h2 class="center collapsible">Hex Hand</h2>
        <div class="content">
            <table>
            {{#each huckster_deck as |card|}}
                <tr class="item" data-itemId="{{this._id}}">
                    <td class="perc90">{{this.name}}</td>
                    <td class="perc10 center"><a class="item-delete"><i class="fas fa-trash" title="Show this card"></i></a></td>
                </tr>
            </div>
            {{/each}}
            </table>
        </div>
        {{/if}}
        {{#if tricks}}
        <h2 class="center collapsible">Tricks</h2>
        <div class="content">
            <table>
            {{#each tricks as |hex|}}
            <tr class="item" data-itemId="{{this._id}}">
                <td class="perc10"><a class="info-button"><i class="fas fa-info-circle"></i></a></td>
                <td class="perc40">{{this.name}}</td>
                {{#has_bounty this.data.level 'skill'}}
                <td class="perc10 right"><a class="magic-buff">[+]</a></td>
                {{/has_bounty}}
                <td class="perc10">[{{this.data.level}}]</td>
                <td class="perc20 center">{{this.data.trait}}</td>
                <td class="perc10 center"><a class="sling-trick"><i class="fas fa-bahai" title="Cast {{this.name}}"></i></a></td>
                <td class="perc10 center"><a class="item-delete"><i class="fas fa-trash" title="Remove {{this.name}}"></i></a></td>
            </tr>
            {{/each}}
            </table>
        </div>
        {{/if}}
        {{#if hexes}}
        <h2 class="center collapsible">Hexes</h2>
        <div class="content">
            <table>
            {{#each hexes as |hex|}}
            <tr class="item" data-itemId="{{this._id}}">
                <td class="perc10"><a class="info-button"><i class="fas fa-info-circle"></i></a></td>
                <td class="perc40">{{this.name}}</td>
                {{#has_bounty this.data.level 'skill'}}
                <td class="perc10 right"><a class="magic-buff">[+]</a></td>
                {{/has_bounty}}
                <td class="perc10">[{{this.data.level}}]</td>
                <td class="perc20 center">{{this.data.trait}}</td>
                <td class="perc10 center"><a class="sling-hex"><i class="fas fa-bahai" title="Cast {{this.name}}"></i></a></td>
                <td class="perc10 center"><a class="item-delete"><i class="fas fa-trash" title="Remove {{this.name}}"></i></a></td>
            </tr>
            {{/each}}
            </table>
        </div>
        {{/if}}
        {{#if miracles}}
        <h2 class="center collapsible">Miracles</h2>
        <div class="content">
            <table>
            {{#each miracles as |mir|}}
            <tr class="item" data-itemId="{{this._id}}">
                <td class="perc10 center"><a class="info-button"><i class="fas fa-info-circle"></i></a></td>
                <td class="perc60">{{this.name}}</td>
                <td class="perc10 center">{{this.data.tn}}</td>
                <td class="perc10 center"><a class="cast-miracle"><i class="fas fa-pray" title="Cast {{this.name}}"></i></a></td>
                <td class="perc10 center"><a class="item-delete"><i class="fas fa-trash" title="Remove {{this.name}}"></i></a></td>
            </tr>
            {{/each}}
            </table>
        </div>
        {{/if}}
        {{#if favors}}
        <h2 class="center collapsible">Favors</h2>
        <div class="content">
            <table>
            {{#each favors as |fav|}}
            <tr class="item" data-itemId="{{this._id}}">
                <td class="perc10 center"><a class="info-button"><i class="fas fa-info-circle"></i></a></td>
                <td class="perc60">{{this.name}}</td>
                <td class="perc10 center">{{this.data.appeasement}}</td>
                <td class="perc10 center"><a><i class="fas fa-crow" title="Cast {{this.name}}"></i></a></td>
                <td class="perc10 center"><a class="item-delete"><i class="fas fa-trash" title="Remove {{this.name}}"></i></a></td>
            </tr>
            {{/each}}
            </table>
        </div>
        {{/if}}
        {{#if edges}}
        <h2 class="center collapsible">Edges</h2>
        <div class="content">
            <table>
            {{#each edges as |edge|}}
            <tr class="item" data-itemId="{{this._id}}">
                <td class="perc10 center"><a class="info-button"><i class="fas fa-info-circle"></i></a></td>
                <td class="perc70">{{this.name}}</td>
                <td class="perc10 center">{{this.data.cost}}</td>
                <td class="perc10 center"><a class="item-delete"><i class="fas fa-trash" title="Remove {{this.name}}"></i></a></td>
            </tr>
            {{/each}}
            </table>
        </div>
        {{/if}}
        {{#if hinderances}}
        <h2 class="center collapsible">Hinderances</h2>
        <div class="content">
            <table>
            {{#each hinderances as |hind|}}
            <tr class="item" data-itemId="{{this._id}}">
                <td class="perc10 center"><a class="info-button"><i class="fas fa-info-circle"></i></a></td>
                <td class="perc70">{{this.name}}</td>
                <td class="perc10 center">{{this.data.cost}}</td>
                <td class="perc10 center"><a class="item-delete"><i class="fas fa-trash" title="Remove {{this.name}}"></i></a></td>
            </tr>
            {{/each}}
            </table>
        </div>
        {{/if}}
        {{#if goods}}
        <h2 class="center collapsible">Goods</h2>
        <div class="content">
            <table>
            {{#each goods as |good|}}
            <tr class="item" data-itemId="{{this._id}}">
                <td class="perc10 center"><a class="info-button"><i class="fas fa-info-circle"></i></a></td>
                <td class="perc50">{{this.name}}</td>
                <td class="perc10 right">{{this.data.cost}}</td>
                <td class="perc20 center">{{this.data.amount}}</td>
                <td class="perc10 center"><a class="item-delete"><i class="fas fa-trash" title="Remove {{this.name}}"></i></a></td>
            </tr>
            {{/each}}
            </table>
        </div>
        {{/if}}
    </div>
</section>