<section>
    <div style="align-items: center;">
        <h1 style="text-align: center;">
            <div data-edit="data.name" contenteditable>
                {{actor.name}}
            </div>
        </h1>
        <img style="width: 128px;" src="{{actor.img}}" data-edit="img"/>
    </div>
    <div>
        <h1 style="text-align: center;">Firearms</h1>
            <table>
                <tr>
                    <th>{{localize "dc.skill_labels.name"}}</th>
                    <th>{{localize "dc.items.combat.firearm.ammo"}}</th>
                </tr>
                {{#each firearms as |gun|}}
                <tr>
                    <td><input type="text" name="data.firearms[{{@index}}].name" value="{{gun.name}}"></td>
                    <td><input type="text" name="data.firearms[{{@index}}].ammo" value="{{gun.ammo}}"></td>
                    <td>
                        <button id="gun_{{@index}}"><i class="fas fa-dice-d20"></i></button>
                        <script>
                            function callback() {
                                let content = "";
                                let skill_level = parseInt("{{actor.traits.deftness.skills.shootin.level}}");
                                if (skill_level > 0){
                                    content = "{{this.name}}: [[{{actor.traits.deftness.skills.shootin.level}}{{actor.traits.deftness.die_type}}ex + {{actor.traits.deftness.skills.shootin.modifier}} + {{actor.traits.deftness.modifier}}]]";
                                }else{
                                    content = "{{this.name}}: [[{{actor.traits.deftness.level}}{{actor.traits.deftness.die_type}}ex + {{actor.traits.deftness.skills.shootin.modifier}} + {{actor.traits.deftness.modifier}}]]";
                                };
                                ChatMessage.create({
                                    content: content
                                });
                            }
                            gun_{{@index}}.addEventListener('click', callback);
                        </script>
                    </td>
                </tr>
                {{/each}}
            </table>
    </div>
</section>