<section>
    <div style="align-items: center;">
        <h1 style="text-align: center;">
            <div data-edit="data.name" contenteditable>
                {{actor.name}}
            </div>
        </h1>
        <div style="align-items: center;"><img style="width: 128px;" src="{{actor.img}}" data-edit="img"/></div>
    </div>
    <div>
        <h1 style="text-align: center;">Hinderances</h1>
        {{#each hinderances as |hind|}}
        <div style="display: flex; flex-direction: row;" class="item" data-itemId="{{hind._id}}">
            <a class="info-button"><i style="padding-top: 5px" class="fas fa-info-circle"></i></a>
            <input style="display: inline-block; width: 400%;" type="text" value="{{hind.name}}"/>
            <input style="text-align: center;" type="text" value="{{hind.data.cost}}">
        </div>
        {{/each}}
    </div>
    <div>
        <h1 style="text-align: center;">Edges</h1>
        {{#each edges as |edge|}}
        <div style="display: flex; flex-direction: row;" class="item" data-itemId="{{edge._id}}">
            <a class="info-button"><i style="padding-top: 5px" class="fas fa-info-circle"></i></a>
            <input style="display: inline-block; width: 400%;" type="text" value="{{this.name}}"/>
            <input style="text-align: center;" type="text" value="{{edge.data.cost}}">
        </div>
        {{/each}}
    </div>
    <div>
        <h1 style="text-align: center;">Melee Weapons</h1>
        <div>
        <h1 style="text-align: center;">Melee Weapons</h1>
            {{#each melee_weapons as |wep|}}
            <div style="display: flex; flex-direction: row;" class="item" data-itemId="{{wep._id}}">
                <a class="info-button"><i style="padding-top: 5px" class="fas fa-info-circle"></i></a>
                <input style="display: inline-block; width: 400%;" type="text" value="{{wep.name}}"/>
                <input style="text-align: center;" type="text" value="{{wep.data.damage}}">
            </div>
            {{/each}}
        </div>
    </div>
    <div>
        <h1 style="text-align: center;">Guns</h1>
        {{#each firearms as |gun|}}
        <div style="display: flex; flex-direction: row;" class="item" data-itemId="{{gun._id}}">
            <a class="info-button"><i style="padding-top: 5px" class="fas fa-info-circle"></i></a>
            <input style="display: inline-block; width: 400%;" type="text" value="{{this.name}}"/>
            <input style="text-align: center;" type="text" value="{{gun.data.damage}}">
        </div>
        {{/each}}
    </div>
    <div>
        <h1 style="text-align: center;">Hexes</h1>
        {{#each hexes as |hex|}}
        <div style="display: flex; flex-direction: row;" class="item" data-itemId="{{hex._id}}">
            <a class="info-button"><i style="padding-top: 5px" class="fas fa-info-circle"></i></a>
            <input style="display: inline-block; width: 400%;" type="text" value="{{this.name}}"/>
            <input style="text-align: center;" type="text" value="{{hex.data.damage}}">
        </div>
        {{/each}}
    </div>
    <div>
        <h1 style="text-align: center;">Miracles</h1>
        {{#each miracles as |mir|}}
        <div style="display: flex; flex-direction: row;" class="item" data-itemId="{{mir._id}}">
            <a class="info-button"><i style="padding-top: 5px" class="fas fa-info-circle"></i></a>
            <input style="display: inline-block; width: 400%;" type="text" value="{{this.name}}"/>
            <input style="text-align: center;" type="text" value="{{mir.data.tn}}">
        </div>
        {{/each}}
    </div>
    <div>
        <h1 style="text-align: center;">Favors</h1>
        {{#each favors as |fav|}}
        <div style="display: flex; flex-direction: row;" class="item" data-itemId="{{fav._id}}">
            <a class="info-button"><i style="padding-top: 5px" class="fas fa-info-circle"></i></a>
            <input style="display: inline-block; width: 400%;" type="text" value="{{this.name}}"/>
            <input style="text-align: center;" type="text" value="{{fav.data.appeasement}}">
        </div>
        {{/each}}
    </div>
</section>