<section class="form typed">
    <h2 class="center">Trappin's</h2>
    <div style="overflow-y:scroll; height:300px">
        {{#if fate_chips}}
        <h2 class="center">Fate Chips</h2>
        <table>
            {{#each fate_chips as |chip|}}
            <tr class="fate-data" data-chip="{{this.name}}" data-bounty="{{this.bounty}}">
                <td class="perc50">{{this.name}}</td>
                <td class="perc10 center">{{this.bounty}}</td>
                <td class="perc10 center">{{this.amount}}</td>
                <td class="perc10 center"><a class="spend-fate"><i class="fas fa-dollar-sign" title="Spend for Bounty"></a></i></td>
                <td class="perc10 center"><a class="use-fate"><i class="fas fa-trash" title="Use in game"></i></a></td>
            </tr>
            {{/each}}
        </table>
        {{/if}}
        {{#if action_deck}}
        <h2 style="text-align: center;">Combat Hand</h2>
        <table>
        {{#each action_deck as |card|}}
            <tr class="item" data-itemId="{{this._id}}">
                <td class="perc70">{{this.name}}</td>
                <td class="perc10 center"><a class="aim-button"><i class="fas fa-crosshairs" title="Aim (Adds +2 to next shot, stacks to +6)"></i></a></td>
                <td class="perc10 center"><a class="dodge-button"><i class="fas fa-running" title="Dodge (Must be used before a shot is fired.)"></i></a></td>
            {{#lvl_head}}
                <td class="perc10 center"><a class="recycle-card"><i class="fas fa-sync-alt" title="Cycle this card"></i></a></td>
            {{/lvl_head}}
                <td class="perc10 center"><a class="play-card"><i class="fas fa-hand-paper" title="Play this Card"></i></a></td>
            </tr>
        {{/each}}
        </table>
        {{/if}}
        {{#if melee_weapons}}
        <div>
            <h2 style="text-align: center;">Melee Weapons</h2>
            <table>
            {{#each melee_weapons as |wep|}}
                <tr class="item" data-itemId="{{this._id}}">
                    <td class="perc10 center"><a class="info-button"><i class="fas fa-info-circle"></i></a></td>
                    <td class="perc60">{{this.name}}</td>
                    <td class="perc10 center">{{wep.data.damage}}</td>
                    <td class="perc10 center"><a class="melee-attack"><i class="fas fa-user-slash" title="Attack with {{this.name}}"></i></a></td>
                    <td class="perc10 center"><a class="item-delete"><i class="fas fa-trash" title="Discard {{this.name}}"></i></a></td>
                </tr>
            {{/each}}
            </table>
        </div>
        {{/if}}
        {{#if firearms}}
        <div>
            <h2 style="text-align: center;">Guns</h2>
            <table>
            {{#each firearms as |gun|}}
                <tr class="item" data-itemId="{{this._id}}">
                    <td class="perc10 center"><a class="info-button"><i class="fas fa-info-circle"></i></a></td>
                    <td class="perc40">{{this.name}}</td>
                    <td class="perc10 center">{{this.data.chamber}}/{{this.data.max}}</td>
                    <td class="perc10 center"><a class="gun-attack"><i class="fas fa-crosshairs" title="Fire {{this.name}}"></i></a></td>
                    <td class="perc10 center"><a class="gun-reload"><i class="fas fa-sync-alt" title="Reload {{this.name}}"></i></a></td>
                    <td class="perc10 center"><a class="item-delete"><i class="fas fa-trash" title="Discard {{this.name}}"></i></a></td>
                </tr>
            {{/each}}
            </table>
        </div>
        {{/if}}
        {{#if huckster_deck}}
        <div>
            <h2 style="text-align: center;">Hex Hand</h2>
            <table>
            {{#each huckster_deck as |card|}}
                <tr class="item" data-itemId="{{this._id}}">
                    <td class="perc90">{{this.name}}</td>
                    <td class="perc10 center"><a class="item-delete"><i class="fas fa-trash" title="Show this card"></i></a></td>
                </tr>
            </div>
            {{/each}}
            </table>
        </div>
        {{/if}}
        {{#if tricks}}
        <div>
            <h2 style="text-align: center;">Tricks</h2>
            <table>
            {{#each tricks as |hex|}}
            <tr class="item" data-itemId="{{this._id}}">
                <td class="perc10"><a class="info-button"><i class="fas fa-info-circle"></i></a></td>
                <td class="perc40">{{this.name}}</td>
                {{#has_bounty this.data.level 'skill'}}
                <td class="perc10 right"><a class="magic-buff">[+]</a></td>
                {{/has_bounty}}
                <td class="perc10">[{{this.data.level}}]</td>
                <td class="perc20 center">{{this.data.trait}}</td>
                <td class="perc10 center"><a class="sling-trick"><i class="fas fa-bahai" title="Cast {{this.name}}"></i></a></td>
                <td class="perc10 center"><a class="item-delete"><i class="fas fa-trash" title="Remove {{this.name}}"></i></a></td>
            </tr>
            {{/each}}
            </table>
        </div>
        {{/if}}
        {{#if hexes}}
        <div>
            <h2 style="text-align: center;">Hexes</h2>
            <table>
            {{#each hexes as |hex|}}
            <tr class="item" data-itemId="{{this._id}}">
                <td class="perc10"><a class="info-button"><i class="fas fa-info-circle"></i></a></td>
                <td class="perc40">{{this.name}}</td>
                {{#has_bounty this.data.level 'skill'}}
                <td class="perc10 right"><a class="magic-buff">[+]</a></td>
                {{/has_bounty}}
                <td class="perc10">[{{this.data.level}}]</td>
                <td class="perc20 center">{{this.data.trait}}</td>
                <td class="perc10 center"><a class="sling-hex"><i class="fas fa-bahai" title="Cast {{this.name}}"></i></a></td>
                <td class="perc10 center"><a class="item-delete"><i class="fas fa-trash" title="Remove {{this.name}}"></i></a></td>
            </tr>
            {{/each}}
            </table>
        </div>
        {{/if}}
        {{#if miracles}}
        <div>
            <h2 style="text-align: center;">Miracles</h2>
            <table>
            {{#each miracles as |mir|}}
            <tr class="item" data-itemId="{{this._id}}">
                <td class="perc10 center"><a class="info-button"><i class="fas fa-info-circle"></i></a></td>
                <td class="perc60">{{this.name}}</td>
                <td class="perc10 center">{{this.data.tn}}</td>
                <td class="perc10 center"><a class="cast-miracle"><i class="fas fa-pray" title="Cast {{this.name}}"></i></a></td>
                <td class="perc10 center"><a class="item-delete"><i class="fas fa-trash" title="Remove {{this.name}}"></i></a></td>
            </div>
            {{/each}}
            </table>
        </div>
        {{/if}}
        {{#if favors}}
        <div>
            <h2 style="text-align: center;">Favors</h2>
            <table>
            {{#each favors as |fav|}}
            <tr class="item" data-itemId="{{this._id}}">
                <td class="perc10 center"><a class="info-button"><i class="fas fa-info-circle"></i></a></td>
                <td class="perc60">{{this.name}}</td>
                <td class="perc10 center">{{this.data.appeasement}}</td>
                <td class="perc10 center"><a><i class="fas fa-crow" title="Cast {{this.name}}"></i></a></td>
                <td class="perc10 center"><a class="item-delete"><i class="fas fa-trash" title="Remove {{this.name}}"></i></a></td>
            </tr>
            {{/each}}
            </table>
        </div>
        {{/if}}
        {{#if edges}}
        <div>
            <h2 style="text-align: center;">Edges</h2>
            <table>
            {{#each edges as |edge|}}
            <tr class="item" data-itemId="{{this._id}}">
                <td class="perc10 center"><a class="info-button"><i class="fas fa-info-circle"></i></a></td>
                <td class="perc70">{{this.name}}</td>
                <td class="perc10 center">{{this.data.cost}}</td>
                <td class="perc10 center"><a class="item-delete"><i class="fas fa-trash" title="Remove {{this.name}}"></i></a></td>
            </tr>
            {{/each}}
            </table>
        </div>
        {{/if}}
        {{#if hinderances}}
            <h2 style="text-align: center;">Hinderances</h2>
            <table>
            {{#each hinderances as |hind|}}
            <tr class="item" data-itemId="{{this._id}}">
                <td class="perc10 center"><a class="info-button"><i class="fas fa-info-circle"></i></a></td>
                <td class="perc70">{{this.name}}</td>
                <td class="perc10 center">{{this.data.cost}}</td>
                <td class="perc10 center"><a class="item-delete"><i class="fas fa-trash" title="Remove {{this.name}}"></i></a></td>
            </tr>
            {{/each}}
            </table>
        {{/if}}
        {{#if goods}}
            <div>
            <h2 style="text-align: center;">Goods</h2>
            <table>
            {{#each goods as |good|}}
            <tr class="item" data-itemId="{{this._id}}">
                <td class="perc10 center"><a class="info-button"><i class="fas fa-info-circle"></i></a></td>
                <td class="perc50">{{this.name}}</td>
                <td class="perc10 right">{{this.data.cost}}</td>
                <td class="perc20 center">{{this.data.amount}}</td>
                <td class="perc10 center"><a class="item-delete"><i class="fas fa-trash" title="Remove {{this.name}}"></i></a></td>
            </tr>
            {{/each}}
            </table>
        </div>
        {{/if}}
    </div>
</section>