<section>
<div class="traits">
    <h2 class="h1">Skills 'n' Such</h2>
    <div style="overflow-y:scroll; height:500px">
        {{#each data.traits as |trait|}}
        <div class="flexbox trait-data" data-trait="{{@key}}" data-level="{{trait.level}}" data-die="{{trait.die_type}}" data-mod="{{trait.modifier}}">
            <a class="perc70 trait-label trait-roll">{{trait.name}}</a>
            <p class="perc10 center">{{trait.level}}</p>
            {{#has_bounty trait.level 'trait'}}
            <a class="perc10 center trait-buff"><i class="fas fa-plus-square"></i></a>
            {{/has_bounty}}
            <p class="perc10 center">{{trait.die_type}}</p>
            {{#die_upgrade trait.die_type}}
            <a class="perc10 center die-buff"><i class="fas fa-plus-square"></i></a>
            {{/die_upgrade}}
            <p class="perc10 center"> + {{trait.modifier}}</p>
        </div>
        <div>
            <table>
                <!--
                <tr>
                    <th class="skill-name" >{{localize "dc.skill_labels.name"}}</th>
                    <th class="skill-input">{{localize "dc.skill_labels.level"}}</th>
                    <th class="skill-input">BP</th>
                    <th class="skill-input">{{localize "dc.skill_labels.modifier"}}</th>
                </tr>
                -->
                {{#each skills as |skill|}}
                <tr class="skill-data" data-trait="{{@../key}}" data-skill="{{@key}}" data-level="{{this.level}}" data-mod="{{this.modifier}}">
                    <td class="perc80"><a class="skill-roll">{{this.name}}</a></td>
                    <td class="perc10 center">{{this.level}}</td>
                    {{#has_bounty this.level 'skill'}}
                    <td class="perc10 center"><a class="skill-buff"><i class="fas fa-plus-square"></i></a></td>
                    {{/has_bounty}}
                    <td class="perc10 center">{{this.modifier}}</td>
                </tr>
                {{/each}}
            </table>
        </div>
        {{/each}}
    </div>
</div>
</section>