<section class="form typed">
    <h2 class="center">Targeting</h2>
        <div class="flexrow">
            {{#each targets as |target|}}
                {{#if (eq @key ../data.data.called_shot)}}
                <input type="radio" id="select-{{@key}}" name="data.called_shot" value="{{@key}}" checked>
                {{else}}
                <input type="radio" id="select-{{@key}}" name="data.called_shot" value="{{@key}}">
                {{/if}}
                <label for="select-{{@key}}">{{target.name}} [{{target.mod}}]</label>
            {{/each}}
        </div>
    <h2 class="center">Equipment</h2>
        {{#is_one_handed}}
            <div class="flexrow">
                <div>
                    <h3 class="center">Dominant Hand</h3>
                    {{> "systems/deadlands_classic/templates/partials/reuseable/equip.hbs" this items=equippable label="dominant" slot="hand" id=data.data.equipped.dominant}}
                </div>
                <div>
                    <h3 class="center">Off Hand</h3>
                    {{> "systems/deadlands_classic/templates/partials/reuseable/equip.hbs" this items=equippable label="off" slot="hand" id=data.data.equipped.off}}
                </div>
            </div>
        {{else}}
            <div>
                <h3 class="center">Two Handed</h3>
                {{> "systems/deadlands_classic/templates/partials/reuseable/equip.hbs" this items=equippable label="dominant" slot="hand" id=data.data.equipped.dominant}}
            </div>
        {{/is_one_handed}}
    <div class="flexrow">
        <div>
            <h3 class="center">Head</h3>
            {{> "systems/deadlands_classic/templates/partials/reuseable/equip.hbs" this items=equippable label="head" slot="head" id=data.data.equipped.head}}
        </div>
        <div>
            <h3 class="center">Body</h3>
            {{> "systems/deadlands_classic/templates/partials/reuseable/equip.hbs" this items=equippable label="body" slot="body" id=data.data.equipped.body}}
        </div>
        <div>
            <h3 class="center">Belt</h3>
            {{> "systems/deadlands_classic/templates/partials/reuseable/equip.hbs" this items=equippable label="belt" slot="belt" id=data.data.equipped.belt}}
        </div>
        <div>
            <h3 class="center">Legs</h3>
            {{> "systems/deadlands_classic/templates/partials/reuseable/equip.hbs" this items=equippable label="legs" slot="legs" id=data.data.equipped.legs}}
        </div>
        <div>
            <h3 class="center">Feet</h3>
            {{> "systems/deadlands_classic/templates/partials/reuseable/equip.hbs" this items=equippable label="feet" slot="feet" id=data.data.equipped.feet}}
        </div>
    </div>
    <div class="flexrow">
        <div>
            <h2 class="center">Wounds:</h2>
            <table style="table-layout: fixed;">
                <tr>
                    <th class="perc12 center">{{localize "dc.player.core.wound_modifier"}}</th>
                    <td class="perc12 center"><input type="number" name="data.wound_modifier" value="{{data.data.wound_modifier}}"/></td>
                </tr>
                <tr>
                    <th class="perc12 center">Bleeding</th>
                    {{#if data.data.is_bleeding}}
                    <td><input type="checkbox" name="data.is_bleeding" checked/></td>
                    {{else}}
                    <td><input type="checkbox" name="data.is_bleeding"/></td>
                    {{/if}}
                </tr>
                <tr>
                    <th>Wound Soak</th>
                    <td><input type="text" name="data.wound_soak" value="{{data.data.wound_soak}}"></td>
                </tr>
            </table>
            <table>
                <tr>
                    <th></th>
                    <th>Wounds</th>
                    <th>Armour</th>
                </tr>
                <tr>
                    <th>{{localize "dc.player.core.wounds.noggin"}}</th>
                    <td class="center"><input type="number" name="data.wounds.noggin" value="{{data.data.wounds.noggin}}"/></td>
                    <td class="center"><input type="number" name="data.armour.noggin" value="{{data.data.armour.noggin}}"/></td>
                </tr>
                <tr>
                    <th>{{localize "dc.player.core.wounds.guts"}}</th>
                    <td class="center"><input type="number" name="data.wounds.guts" value="{{data.data.wounds.guts}}"/></td>
                    <td class="center"><input type="number" name="data.armour.guts" value="{{data.data.armour.guts}}"/></td>
                </tr>
                <tr>
                    <th>{{localize "dc.player.core.wounds.arm_left"}}</th>
                    <td class="center"><input type="number" name="data.wounds.arm_left" value="{{data.data.wounds.arm_left}}"/></td>
                    <td class="center"><input type="number" name="data.armour.arm_left" value="{{data.data.armour.arm_left}}"/></td>
                </tr>
                <tr>
                    <th>{{localize "dc.player.core.wounds.arm_right"}}</th>
                    <td class="center"><input type="number" name="data.wounds.arm_right" value="{{data.data.wounds.arm_right}}"/></td>
                    <td class="center"><input type="number" name="data.armour.arm_right" value="{{data.data.armour.arm_right}}"/></td>
                </tr>
                <tr>
                    <th>{{localize "dc.player.core.wounds.lower_guts"}}</th>
                    <td class="center"><input type="number" name="data.wounds.lower_guts" value="{{data.data.wounds.lower_guts}}"/></td>
                    <td class="center"><input type="number" name="data.armour.lower_guts" value="{{data.data.armour.lower_guts}}"/></td>
                </tr>
                <tr>
                    <th>{{localize "dc.player.core.wounds.gizzards"}}</th>
                    <td class="center"><input type="number" name="data.wounds.gizzards" value="{{data.data.wounds.gizzards}}"/></td>
                    <td class="center"><input type="number" name="data.armour.gizzards" value="{{data.data.armour.gizzards}}"/></td>
                </tr>
                <tr>
                    <th>{{localize "dc.player.core.wounds.leg_left"}}</th>
                    <td class="center"><input type="number" name="data.wounds.leg_left" value="{{data.data.wounds.leg_left}}"/></td>
                    <td class="center"><input type="number" name="data.armour.leg_left" value="{{data.data.armour.leg_left}}"/></td>
                </tr>
                <tr>
                    <th>{{localize "dc.player.core.wounds.leg_right"}}</th>
                    <td class="center"><input type="number" name="data.wounds.leg_right" value="{{data.data.wounds.leg_right}}"/></td>
                    <td class="center"><input type="number" name="data.armour.leg_right" value="{{data.data.armour.leg_right}}"/></td>
                </tr>
            </table>
        </div>
        <div>
            {{#if equippable}}
            <h2 class="center">Equippable Items</h2>
            <table>
            {{#each equippable as |item|}}
                <tr class="item" data-itemId="{{this.id}}">
                    <td class="perc10 center"><a class="info-button"><i class="fas fa-info-circle"></i></a></td>
                    <td class="perc80">{{this.name}}</td>
                    <td class="perc10 center"><a class="item-delete"><i class="fas fa-trash" title="Remove {{this.name}}"></i></a></td>
                </tr>
            {{/each}}
            </table>
            {{/if}}
        </div>
    </div>
</section>