<section>
    <div class="flexrow border">
        <select class=" perc50 center typed add-posse-select">
            {{#each chars as |char|}}
                {{#if (eq char.id ../data.id)}}
            <option value="{{char.id}}" selected>{{char.name}}</option>
                {{else}}
            <option value="{{char.id}}">{{char.name}}</option>
                {{/if}}
            {{/each}}
            <option value=""></option>
        </select>
        <div class="center">
            <a class="add-to-posse">Add</a>
        </div>
    </div>
    <div>
        <table>
            <tr class="center">
                <th>Name</th>
                <th>Cash</th>
                <th>Bleeding</th>
                <th>Running</th>
                <th>Mounted</th>
                <th>Wind</th>
            </tr>
        {{#each posse as |player|}}
            <tr class="posse" data-name="{{player.name}}">
                <td class="perc20 center open-sheet"><a title="Open {{player.name}}'s character sheet">{{player.name}}</a></td>
                <td class="perc10 right">${{player.data.data.cash}}</td>
                {{#if (eq player.data.data.is_bleeding)}}
                <td class="perc10 center"><a><i class="fas fa-check"></i></a></td>
                {{else}}
                <td class="perc10 center"><a><i class="fas fa-times"></i></a></td>
                {{/if}}
                {{#if (eq player.data.data.is_running)}}
                <td class="perc10 center"><a><i class="fas fa-check"></i></a></td>
                {{else}}
                <td class="perc10 center"><a><i class="fas fa-times"></i></a></td>
                {{/if}}
                {{#if (eq player.data.data.is_mounted)}}
                <td class="perc10 center"><a><i class="fas fa-check"></i></a></td>
                {{else}}
                <td class="perc10 center"><a><i class="fas fa-times"></i></a></td>
                {{/if}}
                {{!-- Put wind at the end. --}}
                <td class="perc10 right">{{player.data.data.wind.value}}/{{player.data.data.wind.max}}</td>
            </tr>
        {{/each}}
        </table>
    </div>
</section>