<section class="typed">
    <div>
        <table>
            <tr>
                <td class="perc50 center">Character Type</td>
                <td>
                    <select class="item center typed-large" name="type" id="type-select">
                        {{#if (eq type "player")}}
                        <option value="player" selected>Player</option>
                        {{else}}
                        <option value="player">Player</option>
                        {{/if}}
                        {{#if (eq type "merchant")}}
                        <option value="merchant" selected>Merchant</option>
                        {{else}}
                        <option value="merchant">Merchant</option>
                        {{/if}}
                    </select>
                </td>
            </tr>
        </table>
        <h1 class="center">Random Names</h1>
        <div class="flexrow">
        {{#if (eq data.data.random_name true)}}
            <input type="checkbox" name="data.random_name" checked>
        {{else}}
            <input type="checkbox" name="data.random_name">
        {{/if}}
            <select name="data.ethnicity" id="ethnicity-select">
            {{#if (eq data.data.ethnicity "american")}}
                <option value="american" selected>American/European</option>
            {{else}}
                <option value="american">American/European</option>
            {{/if}}
            {{#if (eq data.data.ethnicity "native_american")}}
                <option value="native_american" selected>Native American</option>
            {{else}}
                <option value="native_american">Native American</option>
            {{/if}}
            </select>
        </div>
    </div>
</section>