<section class="form typed">
    <div>
        <div class="flexrow">
            <p>Send items to</p>
            <select name="data.send_target">
                <option value="None">None</option>
            {{#each players as |player|}}
                {{#if (eq ../data.data.send_target player.name)}}
                <option value="{{player.name}}" selected>{{player.name}}</option>
                {{else}}
                <option value="{{player.name}}">{{player.name}}</option>
                {{/if}}
            {{/each}}
            </select>
        </div>
        <div>
            {{#if melee_weapons}}
            <h2>Melee Weapons</h2>
            <table>
            {{#each melee_weapons as |wep|}}
            <tr class="item" data-itemId="{{this.id}}">
                <td class="perc10 center"><a class="info-button"><i class="fas fa-info-circle"></i></a></td>
                <td class="perc20 right">1</td>
                {{#ifCond ../data.data.send_target "!=" "None"}}
                <td class="perc40">{{this.name}}</td>
                <td class="perc10 right">{{this.data.data.cost}}</td>
                <td class="perc 10 center"><a class="item-give"><i class="fas fa-hand-paper" title="Give {{this.name}} to {{../data.data.send_target}}"></i></a></td>
                {{else}}
                <td class="perc50">{{this.name}}</td>
                <td class="perc10 right">{{this.data.data.cost}}</td>
                {{/ifCond}}
                <td class="perc10 center"><a class="item-delete"><i class="fas fa-trash" title="Remove {{this.name}}"></i></a></td>
            </tr>
            {{/each}}
            </table>
            {{/if}}
            {{#if firearms}}
            <h2>Firearms</h2>
            <table>
            {{#each firearms as |gun|}}
            <tr class="item" data-itemId="{{this.id}}">
                <td class="perc10 center"><a class="info-button"><i class="fas fa-info-circle"></i></a></td>
                <td class="perc20 right">1</td>
                {{#ifCond ../data.data.send_target "!=" "None"}}
                <td class="perc40">{{this.name}}</td>
                <td class="perc10 right">{{this.data.data.cost}}</td>
                <td class="perc 10 center"><a class="item-give"><i class="fas fa-hand-paper" title="Give {{this.name}} to {{../data.data.send_target}}"></i></a></td>
                {{else}}
                <td class="perc50">{{this.name}}</td>
                <td class="perc10 right">{{this.data.data.cost}}</td>
                {{/ifCond}}
                <td class="perc10 center"><a class="item-delete"><i class="fas fa-trash" title="Remove {{this.name}}"></i></a></td>
            </tr>
            {{/each}}
            </table>
            {{/if}}
            {{#if goods}}
            <h2>Goods</h2>
            <table>
            {{#each goods as |good|}}
            <tr class="item" data-itemId="{{this.id}}">
                <td class="perc10 center"><a class="info-button"><i class="fas fa-info-circle"></i></a></td>
                <td class="perc20 right">{{this.data.data.amount}}</td>
                {{#ifCond ../data.data.send_target "!=" "None"}}
                <td class="perc40">{{this.name}}</td>
                <td class="perc10 right">{{this.data.data.cost}}</td>
                <td class="perc 10 center"><a class="item-give"><i class="fas fa-hand-paper" title="Give {{this.name}} to {{../data.data.send_target}}"></i></a></td>
                {{else}}
                <td class="perc50">{{this.name}}</td>
                <td class="perc10 right">{{this.data.data.cost}}</td>
                {{/ifCond}}
                <td class="perc10 center"><a class="item-delete"><i class="fas fa-trash" title="Remove {{this.name}}"></i></a></td>
            </tr>
            {{/each}}
            </table>
            {{/if}}
        </div>
    </div>
</section>