<section>
    <h2 class="center">Miracles</h2>
    <div>
        {{#each miracles as |mir|}}
        <h2><td class="center"><a class="info-button"><i class="fas fa-info-circle"></i></a></td>{{this.name}}</h2>
        <textarea name="data.description" cols="30" rows="10">{{mir.description}}</textarea>
        <table>
            <tr>
                <th>TN</th>
                <th>Pray</th>
                <th>remove</th>
            </tr>
            <tr class="item" data-itemId="{{this.id}}">
                <td class="center">{{this.data.data.tn}}</td>
                <td class="center"><a class="cast-miracle"><i class="fas fa-pray" title="Cast {{this.name}}"></i></a></td>
                <td class="center"><a class="item-delete"><i class="fas fa-trash" title="Remove {{this.name}}"></i></a></td>
            </tr>
        </table>
        {{/each}}
    </div>
</section>