<section>
    <h2 class="center">Miracles</h2>
    <div>
        {{#each miracles as |mir|}}
        <table class="item" data-itemId="{{this.id}}">
            <tr>
                <td class="perc10 center"><a class="info-button"><i class="fas fa-info-circle"></i></a></td>
                <td class="perc80 center"><h2 class="center">{{this.name}}</h2></td>
                <td class="perc10 center"><a class="item-delete"><i class="fas fa-trash" title="Remove {{this.name}}"></i></a></td>
            </tr>
        </table>
        <textarea name="{{this.name}}.description" cols="30" rows="5" wrap="soft">{{this.data.data.description}}</textarea>
        <table class="item" data-itemId="{{this.id}}">
            <tr>
                <th>TN</th>
                <th>Pray</th>
            </tr>
            <tr>
                <td class="perc50 center">{{this.data.data.tn}}</td>
                <td class="perc50 center"><a class="cast-miracle"><i class="fas fa-pray" title="Cast {{this.name}}"></i></a></td>
            </tr>
        </table>
        {{/each}}
    </div>
</section>