<section>
<div class="traits typed">
    <h2 class="h1">Skills 'n' Such</h2>
    <div>
    {{#each data.data.traits as |trait|}}
        <div>
            <table>
                <tr class="skill-data" data-skill="{{@key}}">
            {{#if (eq ../data.data.show_editor true)}}
                    <td class="perc70 trait-label"><a class="skill-roll">{{trait.name}}</a></td>
                    <td class="perc10 center"><input style="display:inline-block; width: 12%; text-align: center;" class="input" type="number" name="data.traits.{{@key}}.level" value="{{trait.level}}"/></td>
                    <td class="perc10 center"><input style="display:inline-block; width: 12%; text-align: center;" class="input" type="text" name="data.traits.{{@key}}.die_type" value="{{trait.die_type}}"/></td>
                    <td class="perc10 center"><input style="display:inline-block; width: 12%; text-align: center;" class="input" type="number" name="data.traits.{{@key}}.modifier" value="{{trait.modifier}}"/></td>
            {{else}}
                    <td class="perc50 trait-label"><a class="skill-roll">{{trait.name}}</a></td>
                {{#has_bounty trait.level 'trait'}}
                    <td class="perc10 right"><a class="skill-buff">[+]</a></td>
                {{/has_bounty}}
                    <td class="perc10 center">{{trait.level}}</td>
                {{#die_upgrade trait.die_type}}
                    <td class="perc10 center"><a class="die-buff">[+]</a></td>
                {{/die_upgrade}}
                    <td class="perc10 center">{{trait.die_type}}</td>
                    <td class="perc10 center">+{{trait.modifier}}</td>
            {{/if}}
                </tr>
            </table>
            <div>
                <table>
                {{#each skills as |skill|}}
                    <tr class="skill-data" data-skill="{{@key}}">
                     {{#if (eq ../data.data.show_editor true)}}
                        <td><input class="perc80 input" type="number" name="data.traits.{{@../key}}.skills.{{@key}}.name" value="{{this.name}}"></td>
                        <td><input class="perc10 center input" type="text" name="data.traits.{{@../key}}.skills.{{@key}}.level" value="{{this.level}}"></td>
                        <td><input class="perc10 center input" type="number" name="data.traits.{{@../key}}.skills.{{@key}}.modifier" value="{{this.modifier}}"></td>
                    {{else}}
                        <td class="perc70"><a class="skill-roll">{{this.name}}</a></td>
                        {{#has_bounty this.level 'skill'}}
                        <td class="perc10 right"><a class="skill-buff">[+]</a></td>
                        {{/has_bounty}}
                        <td class="perc10 center">{{this.level}}</td>
                        <td class="perc10 center">{{this.modifier}}</td>
                    {{/if}}
                    </tr>
                {{/each}}
                </table>
            </div>
        </div>
    {{/each}}
    </div>
</div>
</section>