<section>
    <div>
        <h3 class="center">Modifiers</h3>
        <table>
            <tr>
                <td>
                    <select class="type-select" name="type-select" id="type-select">
                        {{#if (eq mod.type 'skill_mod')}}
                            <option value="skill_mod" selected>Skill Modifier</option>
                        {{else}}
                            <option value="skill_mod">Skill Modifier</option>
                        {{/if}}
                        {{#if (eq mod.type 'armour_mod')}}
                            <option value="armour_mod" selected>Armour Modifier</option>
                        {{else}}
                            <option value="armour_mod">Armour Modifier</option>
                        {{/if}}
                        {{#if (eq mod.type 'wind_mod')}}
                            <option value="wind_mod" selected>Wind Modifier</option>
                        {{else}}
                            <option value="wind_mod">Wind Modifier</option>
                        {{/if}}
                        {{#if (eq mod.type 'pace_mod')}}
                            <option value="pace_mod" selected>Pace Modifier</option>
                        {{else}}
                            <option value="pace_mod">Pace Modifier</option>
                        {{/if}}
                    </select>
                </td>
                <td>
                    <select name="target-select" id="target-select">
                    {{#if (eq mod.type 'skill_mod')}}
                            <option value="cognition">Cognition</option>
                            <option value="art">Art</option>
                            <option value="artillery">Artillery</option>
                            <option value="scrutinize">Scrutinize</option>
                            <option value="search">Search</option>
                            <option value="trackin">Trackin'</option>
                            <option value="deftness">Deftness</option>
                            <option value="bow">Bow</option>
                            <option value="filchin">Filchin'</option>
                            <option value="lockpickin">Lockpickin'</option>
                            <option value="shootin_pistol">Shootin' Pistol</option>
                            <option value="shootin_rifle">Shootin' Rifle</option>
                            <option value="shootin_shotgun">Shootin' Shotgun</option>
                            <option value="shootin_automatic">Shootin' Automatic</option>
                            <option value="sleight_o_hand">Sleight o' hand</option>
                            <option value="speed_load">Speed Load</option>
                            <option value="throwin">Throwin'</option>
                    {{/if}}
                    {{#if (eq mod.type 'armour_mod')}}
                            <option value="noggin">Noggin'</option>
                            <option value="guts">Upper Guts</option>
                            <option value="arm_right">Right Arm</option>
                            <option value="arm_left">Left Arm</option>
                            <option value="lower_guts">Lower Guts</option>
                            <option value="gizzards">Gizzards</option>
                            <option value="leg_right">Right Leg</option>
                            <option value="leg_left">Left Leg</option>
                    {{/if}}
                    </select>
                </td>
            </tr>
        </table>
        <a class="center"><p class="add-modifier">Add a modifier</p></a>
        <table>
        {{#each modifiers as |mod|}}
            <tr class="item" data-id="{{@index}}">
                <td><input style="text-align: center;" type="text" name="data.modifier" value="{{mod.modifier}}"/></td>      
                <td class="center"><a class="item-delete"><i class="fas fa-trash" title="Remove {{this.name}}"></i></a></td>
            </tr>
        {{/each}}
        </table>
    </div>
</section>