<section>
    <tr>
        <th>Use Reliability</th>
        {{#if (eq data.data.reliability true)}}
        <td><input type="checkbox" name="data.reliability" checked/></td>
    </tr>
    <tr>
        <th>Reliability</th>
        <td><input type="number" name="data.reliability_value" value="{{data.data.reliability_value}}"></td>
        {{else}}
        <td><input type="checkbox" name="data.reliability"/></td>
        {{/if}}
    </tr>
    <tr>
    {{#if (eq data.data.vehicle_mountable true)}}
        <th>{{localize "dc.items.combat.firearm.vehicle_mountable"}}</th>
        {{#if (eq data.data.vehicle_mountable true)}}
        <td><input type="checkbox" name="data.vehicle_mountable" checked/></td>
        {{else}}
        <td><input type="checkbox" name="data.vehicle_mountable"/></td>
        {{/if}}
    {{/if}}
    </tr>
{{#if (eq data.data.equippable true)}}
    <tr>
        <th>{{localize "dc.items.goods.equippable"}}</th>
        <td><input type="checkbox" name="data.equippable" checked/></td>
    </tr>
    <tr>
        <th>Slot</th>
        <td><input style="text-align: center;" type="text" name="data.slot" value="{{data.data.slot}}"/></td>
    </tr>
    <tr>
    {{#if (eq data.data.slot 'hand')}}
        <th>{{localize "dc.items.combat.firearm.multi_slot"}}</th>
        {{#if (eq data.data.multi_slot true)}}
        <td><input type="checkbox" name="data.multi_slot" checked/></td>
        {{else}}
        <td><input type="checkbox" name="data.multi_slot"/></td>
        {{/if}}
    {{/if}}
    </tr>
        {{> "systems/deadlands_classic/templates/partials/reuseable/equip_mods.hbs" this}}
{{else}}
    <tr>
        <th>{{localize "dc.items.goods.equippable"}}</th>
        <td><input type="checkbox" name="data.equippable"/></td>
    </tr>
{{/if}}
</section>