{{!-- Pass label for the name of the dropdown --}}
<section>
    <select class="item {{label}}-select" name="data.equipped.{{label}}" id="{{label}}-select" data-slot="{{label}}">
        <option value="Nuthin">Nuthin'</option>
        {{log 'DC | equip.hbs | ' label slot items}}
        {{#each items as |item|}}
            {{log 'DC | equip.hbs | #each items |' @root.label @root.slot item.data.slot}}
            {{#if (eq item.slot slot)}}
                {{log 'DC | equip.hbs | #each items | #if (eq slotitem.slot)' @root.label @root.slot item.slot}}
                <div class="item" data-itemid="{{item.id}}">
                {{#if_equipped label item.id}}
                    {{log 'DC | equip.hbs | #each items | #if (eq slotitem.slot) | is_equipped | Found!!!' @root.label @root.slot item.slot}}
                    <option data-itemid="{{item.id}}" value="{{item.id}}" selected>{{item.name}}</option>
                {{else}}
                    {{log 'DC | equip.hbs | #each items | #if (eq slotitem.slot) | is_equipped | Not found :(' @root.label @root.slot item.slot}}
                    <option value="{{item.id}}">{{item.name}}</option>
                {{/if_equipped}}
                </div>
            {{/if}}
        {{/each}}
    </select>
</section>