<section>
    <select name="data.{{key_name}}" id="{{key_name}}-select">
        {{#each skills as |skill|}}
            {{#if (eq ../data.data[key_name] skill.key)}}
            <option value="{{skill.key}}" selected>{{skill.label}}</option>
            {{else}}
            <option value="{{skill.key}}">{{skill.label}}</option>
            {{/if}}
        {{/each}}
    </select>
</section>